.Novosti{
    border-top: solid #231c07;
    border-bottom:  solid #231c07;
    text-align: center;
    background-color: #F0E8DE;
    grid-column: 1 / -1;

}

.novost1{
    border-style: hidden;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 5px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    background-color: #c1b098;
}

.novNaslov1{
    text-align: left;
    font-size: large;
    font-weight: bolder;
    margin: 10px;
}

.novText1{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.novost2{
    margin-top: 50px;
    border-style: hidden;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 5px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #c1b098;
}

.novNaslov2{
    text-align: left;
    font-size: large;
    font-weight: bolder;
    margin: 10px;
}

.novText2{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.novost3{
    margin-top: 50px;
    border-style: hidden;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 5px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #c1b098;
}

.novNaslov3{
    text-align: left;
    font-size: large;
    font-weight: bolder;
    margin: 10px;
}

.novText3{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.pN{
    margin: 3%;
}
