.centar{
    border-style: solid;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 60vh
};

.pocetnaSlika{
    border-style: solid;
}

.rangLista{
    border-style: solid;
}