.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F0E8DE;
  height: 100%;
}

th {
  border-bottom: 1px solid rgb(0, 0, 0);
}
    
td {
  text-align: center;
}

.form-control {
  background-color: #F0E8DE !important;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .375rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: .25rem;
} 
    
.btn {
  background-color: #634133 !important;
  color: #F0E8DE;
  padding: 0.75rem 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: transparent;
  border-radius: 0.375rem;
  border-color: transparent;
  cursor: pointer;
  margin: 10px;
}

.chessboard{
  border: 1px solid black;
  border-collapse: collapse;
  width: 80vh;
  height: 80vh;
  font-size: 45px;
  margin-left: 5vh;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}


.boardTR{
  border: 1px solid black;
  width: 100%;
}

.boardTD{
  border: 1px solid black;
  width: 11%;
}

#slova{
  font-size: 30px;
  border-bottom: 3px solid black;
}

#brojevi{
  font-size: 30px;
  border-right: 3px solid black;
}

.tekstTaktike {
  color: #231c07;
  font-size: 4vh;
  margin-top: -1.6vh;
}

.tekstUputa {
  color: #231c07;
  font-size: 3vh;
  margin-top: -2.2vh;
}

.upisRjesenja {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .375rem;
  margin-top: -2.5vh;
}

.tekstPokusaja {
  color: #231c07;
  font-size: 3.5vh;
  margin-top: 2vh;
  font-weight: 500;
}

.taktikaTrener-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttonOdaberiTaktiku {
  background-color: #634133 !important;
  color: #F0E8DE;
  padding: 0.5rem 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: transparent;
  border-radius: 0.375rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: 1.3vh;
  margin-left: 1vh;
  margin-bottom: 1vh;
}

.tekstTaktike2 {
  color: #231c07;
  font-size: 1rem;
  margin-top: 3.5vh;
}

.poredakGumba {
  margin-top: 2.5vh;
}

.taktika-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: -5vh;
}

.taktika-form {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 95%;
  height: 100%;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px
}

.takika-form-content {
  padding-left: 12%;

}

.taktika-trener-pozadina {
  background-color: #F0E8DE;
  height: 100%;
  width: 100%;
}

.pozdrav {
  margin-left: 10vh;
  font-size: 6vh;
  margin-bottom: -2vh;
}

.tekstPrijavljeneGreske {
  color:#231c07;
  font-size: 1.5rem;
  margin-top: -2vh;
}

.trener-prijavaGreske-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  
}

#kreni{
  margin-left: 1vh;
}