.Zabrana-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 20vh;
    margin-right: 20vh;
    padding-top: 5vh;
    padding-bottom: 13vh;
}

.Zabrana-form {
    margin-top: 20px;
    width: 95%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 8px
}
  
.Zabrana-form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding-left: 12%;
    padding-right: 12%
}

.Zabrana-container {
    padding-top: 8vh;
    height: 90vh;
    background-color: #F0E8DE;
}